<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^for-sale\.absolutemini\.com
    RewriteRule ^(.*)$ http://absolutemini\.com/$1 [L]

    RewriteCond %{HTTP_HOST} ^gallery\.absolutemini\.com
    RewriteRule ^(.*)$ http://absolutemini\.com/$1 [L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    Redirect 301 /index.php?mini=28 /
    Redirect 301 /index.php?mini=46 /
    Redirect 301 /index.php?mini=52 /
    Redirect 301 /index.php?mini=37 /
    Redirect 301 /index.php?mini=47 /
    Redirect 301 /index.php?mini=45 /
    Redirect 301 /index.php?mini=35 /
    Redirect 301 /index.php?mini=48 /
    Redirect 301 /index.php?mini=41 /
    Redirect 301 /index.php?mini=8 /
    Redirect 301 /index.php?mini=51 /
    Redirect 301 /index.php?mini=18 /
    Redirect 301 /index.php?mini=29 /
    Redirect 301 /index.php?mini=27 /
    Redirect 301 /index.php?mini=36 /
    Redirect 301 /index.php?mini=13 /
    Redirect 301 /index.php?mini=1 /
    Redirect 301 /index.php?mini=21 /
    Redirect 301 /index.php?mini=30 /
    Redirect 301 /index.php?mini=34 /
    Redirect 301 /index.php?mini=43 /
    Redirect 301 /index.php?mini=14 /
    Redirect 301 /index.php?mini=40 /
    Redirect 301 /index.php?mini=42 /
    Redirect 301 /index.php?mini=3 /
    Redirect 301 /index.php?mini=16 /
    Redirect 301 /index.php?mini=4 /
    Redirect 301 /index.php?mini=5 /
    Redirect 301 /index.php?mini=50 /
    Redirect 301 /index.php?mini=17 /
    Redirect 301 /index.php?mini=10 /
    Redirect 301 /index.php?mini=22 /
    Redirect 301 /index.php?mini=23 /
    Redirect 301 /index.php?mini=9 /
    Redirect 301 /index.php?mini=31 /
    Redirect 301 /index.php?mini=53 /
    Redirect 301 /index.php?mini=2 /
    Redirect 301 /index.php?mini=20 /
    Redirect 301 /index.php?mini=6 /
    Redirect 301 /index.php?mini=7 /
    Redirect 301 /index.php?mini=19 /
    Redirect 301 /index.php?mini=25 /
    Redirect 301 /index.php?mini=11 /
    Redirect 301 /index.php?mini=32 /
    Redirect 301 /index.php?mini=33 /
    Redirect 301 /index.php?mini=26 /
    Redirect 301 /index.php?mini=44 /
    Redirect 301 /index.php?mini=15 /
    Redirect 301 /index.php?mini=39 /
    Redirect 301 /index.php?mini=24 /
    Redirect 301 /index.php?mini=38 /
    Redirect 301 /index.php?mini=12 /
</IfModule>
